@mixin link-icon($image) {
  &::after {
    content: "";
    display: inline-block;
    position: static;
    background-repeat: no-repeat;
    background-size: contain;
    height: 0.85em;
    width: 0.85em;
    margin: 0 0 2px 3px;
    opacity: 0.8;
    background-image: $image;
  }
}

article p {
  a[href^="http"] {
    @include link-icon(url("/icons/link.svg"));
  }
  a[href*="google.com"] {
    @include link-icon(url("/icons/google.svg"));
  }
  a[href*="github.com"] {
    @include link-icon(url("/icons/github.svg"));
  }
  a[href*="archlinux.org"] {
    @include link-icon(url("/icons/archlinux.svg"));
  }
}
