{{ $repo := .Get "repo" }}
{{ $detail := getJSON "https://api.github.com/repos/" $repo }}
<div class="sc-card">
  <a href="https://github.com/{{ $repo }}" target="_blank" rel="noopener">
    <div>
      <img alt="{{ $repo }}" src="https://opengraph.githubassets.com/1/{{ $repo }}" />
    </div>
    <div class="sc-card-content">
      <p class="sc-card-title">{{ .Get "repo" }}</p>
      {{ with $detail -}}
        <p class="sc-card-details">{{ .description }}</p>
      {{- end }}
      <span>github.com</span>
    </div>
  </a>
</div>
